.header {
    grid-area: head;
    background-image: url('../../img/Neon-style-text-effect-back.png');
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
 
  