.formInput {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 32px;
    color: plum;
    background-color: black;
    border-radius: 25px;
    box-shadow: 0px 0px 18px blueviolet,
                inset 0px 0px 18px blueviolet;
}