.global_navigation {
    background: none;
  }

.item {
    color: white;
}

.list {
  margin-top: 90px;
  width: 700px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}